/* Base styling */
* {
  font-size: clamp(20px, auto, auto);
}
body {
  font-family: "Cambria";
  background-color: #121a16;
  color: #e9e2d7;
  margin: 0;
  padding: 0;
  font-size: 1.1vw;
}

header {
  background-color: #1a231c;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
  color: #612a2a;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: #e9e2d7;
  text-decoration: none;
  font-size: 1.2em;
  transition: all ease-in-out 0.2s;
}

nav ul li a:hover {
  color: #334039;
}

.hero {
  background-image: url("hero-image.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 200px;
  text-align: center;
}

.hero-content h2 {
  font-size: 3em;
  color: #e9e2d7;
  margin: 0;
}

.hero-content p {
  font-size: 1.5em;
  color: #e9e2d7;
}

.posts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 50px 20px;
}

.posts article {
  background-color: #142019;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  opacity: 0.75;
  transition: all ease-in-out 0.2s;
  font-size: 1.2em;
}

.posts article:hover {
  opacity: 1;
}

.posts article img {
  max-width: 100%;
  border-radius: 5px;
}

.posts article h3 {
  color: #913333;
  font-size: 1.8em;
}

.posts article p {
  font-size: 1em;
  color: #e9e2d7;
}

.post-link {
  color: #e9e2d7;
  text-decoration: none;
}

footer {
  background-color: #111712;
  padding: 20px;
  text-align: center;
  font-size: 1em;
}

footer p {
  margin: 0;
  font-size: 1em;
  color: #e9e2d7;
}

.content {
  text-align: center;
  margin: 0 auto;
}

.publications-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.publications-list li {
  background-color: #171f19;
  padding: 1px 30px;
  margin: 10px 0;
  border-radius: 5px;
}

.publications-list h3 {
  color: #673030;
  font-size: 1.4em;
  padding: 1px;
  margin: 0px;
}

.publications-list p {
  color: #e9e2d7;
  font-size: 1.3em;
  margin: 2px 0 20px;
  overflow-wrap: break-word;
}

.author {
  margin: 10px 0 0px;
  font-size: 1.3em;
}

.cv-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
}

.cv-list li {
  background-color: #171f19;
  padding: 1px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.cv-list h3 {
  color: #673030;
  font-size: 1.5vw;
  padding: 10px 0px;
  margin: 0px;
}

.cv-list p {
  color: #e9e2d7;
  font-size: 1.3vw;
  margin: 2px 0 20px;
  overflow-wrap: break-word;
}
.cvhead {
  color: #e9e2d7;
  font-size: 1.3vw;
  margin: 2px 0 20px;
  overflow-wrap: break-word;
}

.cvv {
  list-style: none;
  color: #e9e2d7;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.bio-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.bio-section img {
  border-radius: 50%;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.bio-text {
  flex: 1;
  color: #e9e2d7;
  background-color: transparent;
  padding: 20px;
  text-align: left;
  font-size: 1.3vw;
}

.teaching {
  background-image: url("teaching2.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 200px;
  text-align: center;
}

.teaching-content h2 {
  font-size: 3em;
  color: #e9e2d7;
  margin: 0;
}

.teaching-content p {
  font-size: 1.5em;
  color: #e9e2d7;
}

.contact {
  padding: 10px 5px;
  text-align: center;
}

.contact-list {
  list-style: none;
  padding: 20;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.contact-list li {
  background-color: #171f19;
  padding: 1px 30px;
  margin: 10px 0px;
  border-radius: 5px;
}

.contact-list a {
  color: #e9e2d7;
  padding: 20px 30px;
  margin: 30px 10px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.contact-list h3 {
  color: #673030;
  font-size: 1.4em;
  padding: 1px;
  margin: 5px 30px;
}

.contact-list p {
  color: #e9e2d7;
  font-size: 1.2em;
  margin: 10px 0 20px;
  overflow-wrap: break-word;
}

.contact-link {
  color: #e9e2d7;
  text-decoration: none;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .hero {
    padding: 50px 20px;
  }

  .hero-content h2 {
    font-size: 2.5em;
  }

  .hero-content p {
    font-size: 1.2em;
  }

  .posts article {
    width: 100%;
    margin: 10px 0;
  }

  .bio-section {
    flex-direction: column;
    align-items: center;
  }

  .bio-section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .teaching {
    padding: 50px 20px;
  }

  .teaching-content h2 {
    font-size: 2.5em;
  }

  .teaching-content p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 1.8em;
  }

  .hero-content h2 {
    font-size: 2em;
  }

  .hero-content p {
    font-size: 1em;
  }

  .teaching-content h2 {
    font-size: 2em;
  }

  .teaching-content p {
    font-size: 1em;
  }

  .posts {
    flex-direction: column;
    align-items: center;
  }

  .posts article {
    width: 90%;
  }

  nav ul li {
    margin: 5px 0;
  }
}
