@import url("./variables.css");
@import url("./navigation.css");
@import url("./publications.css");
@import url("./cv.css");
@import url("./contact.css");
@import url("./footer.css");

* {
  box-sizing: border-box;
  /* border: 1px dotted rgba(255, 0, 0, 0.377); */
}

/* General, Home, Teaching */

body {
  width: 100%;
  font-family: "Cambria";
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
}

.hero {
  background-size: cover;
  background-position: center;
  padding: 100px 10vw;
  text-align: center;
}

.home-hero {
  background-image: url("../assets/hero-image.jpg");
}

.hero-content h2 {
  font-size: 3em;
  color: var(--text-color);
  margin: 0;
}

.hero-content p {
  font-size: 1.5em;
  color: var(--text-color);
}

.teaching-hero {
  background-image: url("../assets/teaching2.jpg");
}

.teaching-content p {
  font-size: 1.5em;
  color: var(--text-color);
}

.content {
  text-align: center;
  margin: 0 auto;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
}

.posts article {
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 1%;
  width: 30%;
  min-width: 350px;
  text-align: center;
  font-size: 1.2em;
  border-radius: 5px;
  flex-basis: 30%;
  opacity: 0.7;
  transition: all ease-in-out 0.5s;
}

.posts article:hover {
  opacity: 1;
  transform: scale(1.02);
}

@media (max-width: 1200px) {
  .posts article {
    flex-basis: 50%; /* Switch to single-column layout for smaller screens */
    width: 100%;
  }
}

.article-img-container {
  width: 100%;
  overflow: hidden;
}

.article-img-container img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  border-radius: 5px;
}

.posts article h3 {
  color: var(--article-header-color);
  font-size: 1.8em;
  height: 70px;
}

.posts article p {
  font-size: 1em;
  color: var(--text-color);
}

.post-link {
  color: var(--text-color);
  text-decoration: none;
}
