:root {
  --primary-color: #612a2a;
  --secondary-color: #171f19;
  --footer-color: #111712;
  --background-color: #1a231c;
  --text-color: #e9e4db;

  --header-font-size: clamp(32px, 3.3vw, 60px);
  --nav--font-size: clamp(16px, 1vw, 20px);
}

body {
  width: 100%;
  font-family: "Cambria";
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0 auto;
}

header {
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: var(--header-font-size);
  color: var(--primary-color);
}

nav {
  overflow: hidden;
}

nav .menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

nav ul li {
  padding: 14px 20px;
}

nav ul li a {
  display: block;
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--nav--font-size);
  transition: all ease-in-out 0.2s;
}

nav ul li a:hover {
  color: var(--primary-color);
}

nav ul.show {
  max-height: 300px;
}

/* Large screen layout - show the menu horizontally */
@media screen and (min-width: 601px) {
  nav ul {
    display: flex;
    flex-direction: row;
    max-height: none;
  }

  nav .menu-icon {
    display: none; /* Hide the menu icon on large screens */
  }
}

/* Responsive layout - hide the menu and show the icon */
@media screen and (max-width: 600px) {
  nav ul {
    /* flex-direction: column;
    display: none;
    width: 100%; */
    display: flex;
  }

  /* nav ul.show {
    display: flex;
  } */

  nav .menu-icon {
    display: block;
    color: var(--text-color);
    transition: all ease-in-out 0.2s;
  }

  nav .menu-icon:hover {
    color: var(--primary-color);
  }

  nav ul li {
    text-align: center;
    padding: 10px;
  }
}

/* media query end */

.hero {
  background-image: url("../assets/hero-image.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 10vw;
  text-align: center;
}

.hero-content h2 {
  font-size: 3em;
  color: var(--text-color);
  margin: 0;
}

.hero-content p {
  font-size: 1.5em;
  color: var(--text-color);
}

.posts {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 50px 20px;
}

.posts article {
  background-color: var(--secondary-color);
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  width: 30%;
  text-align: center;
  opacity: 0.75;
  transition: all ease-in-out 0.2s;
  font-size: 1.2em;
}

.posts article:hover {
  opacity: 1;
}

.posts article img {
  max-width: 100%;
  border-radius: 5px;
}

.posts article h3 {
  color: #913333;
  font-size: 1.8em;
}

.posts article p {
  font-size: 1em;
  color: var(--text-color);
}

.post-link {
  color: var(--text-color);
  text-decoration: none;
}

footer {
  background-color: var(--footer-color);
  padding: 20px;
  text-align: center;
  font-size: 1em;
}

footer p {
  margin: 0;
  font-size: 1em;
  color: var(--text-color);
}

.content {
  text-align: center;
  margin: 0 auto;
}

.publications-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.publications-list li {
  background-color: #171f19;
  padding: 1px 30px;
  margin: 10px 0;
  border-radius: 5px;
}

.publications-list h3 {
  color: #673030;
  font-size: 1.4em;
  padding: 1px;
  margin: 0px;
}

.publications-list p {
  color: var(--text-color);
  font-size: 1.3em;
  margin: 2px 0 20px;
  overflow-wrap: break-word;
}

.author {
  margin: 10px 0 0px;
  font-size: 1.3em;
}

.cv-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1000px;
  text-align: left;
}

.cv-list li {
  background-color: #171f19;
  padding: 1px 30px;
  margin: 20px 0;
  border-radius: 5px;
}

.cv-list h3 {
  color: #673030;
  font-size: 1.5vw;
  padding: 10px 0px;
  margin: 0px;
}

.cv-list p {
  color: var(--text-color);
  font-size: 1.3vw;
  margin: 2px 0 20px;
  overflow-wrap: break-word;
}
.cvhead {
  color: var(--text-color);
  font-size: 1.3vw;
  margin: 2px 0 20px;
  overflow-wrap: break-word;
}

.cvv {
  list-style: none;
  color: var(--text-color);
  padding: 0;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.bio-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.bio-section img {
  border-radius: 50%;
  margin-right: 20px;
  width: 300px;
  height: 300px;
  object-fit: cover;
}
.bio-text {
  flex: 1;
  color: var(--text-color);
  background-color: transparent;
  padding: 20px;
  text-align: left;
  font-size: 1.3vw;
}

.teaching {
  background-image: url("../assets/teaching2.jpg");
  background-size: cover;
  background-position: center;
  padding: 100px 200px;
  text-align: center;
}

.teaching-content h2 {
  font-size: 3em;
  color: var(--text-color);
  margin: 0;
}

.teaching-content p {
  font-size: 1.5em;
  color: var(--text-color);
}

.contact {
  padding: 10px 5px;
  text-align: center;
}

.contact-list {
  list-style: none;
  padding: 20;
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.contact-list li {
  background-color: #171f19;
  padding: 1px 30px;
  margin: 10px 0px;
  border-radius: 5px;
}

.contact-list a {
  color: var(--text-color);
  padding: 20px 30px;
  margin: 30px 10px 30px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.contact-list h3 {
  color: #673030;
  font-size: 1.4em;
  padding: 1px;
  margin: 5px 30px;
}

.contact-list p {
  color: var(--text-color);
  font-size: 1.2em;
  margin: 10px 0 20px;
  overflow-wrap: break-word;
}

.contact-link {
  color: var(--text-color);
  text-decoration: none;
}

/* Responsive Design */
/* @media only screen and (max-width: 768px) {
  header h1 {
    font-size: 2em;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .hero {
    padding: 50px 20px;
  }

  .hero-content h2 {
    font-size: 2.5em;
  }

  .hero-content p {
    font-size: 1.2em;
  }

  .posts article {
    width: 100%;
    margin: 10px 0;
  }

  .bio-section {
    flex-direction: column;
    align-items: center;
  }

  .bio-section img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .teaching {
    padding: 50px 20px;
  }

  .teaching-content h2 {
    font-size: 2.5em;
  }

  .teaching-content p {
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 1.8em;
  }

  .hero-content h2 {
    font-size: 2em;
  }

  .hero-content p {
    font-size: 1em;
  }

  .teaching-content h2 {
    font-size: 2em;
  }

  .teaching-content p {
    font-size: 1em;
  }

  .posts {
    flex-direction: column;
    align-items: center;
  }

  .posts article {
    width: 90%;
  }

  nav ul li {
    margin: 5px 0;
  }
} */
